.page-header
  h1 {{type | capitalize}} articles 
#form-feed
  form.form-horizontal(role='form', name='searchForm')
    .form-group
      .col-xs-2
        select.input-sm.form-control#search-feed(name="searchFeed", ng-model="search.feed", ng-options='feed.name for feed in feeds')
          option(value="") -- select feed --
      .col-xs-4
        input.input-sm.form-control#search-text(type="text", name="searchText", placeholder='Enter Text', size='40', ng-model="search.text") 
      .col-xs-3.col-xs-offset-3
        .btn-group.btn-group-sm.pull-right
          button.btn.btn-primary(type="button", ng-click='refresh()')
            i.glyphicon.glyphicon-refresh
            |  Refresh
          button.btn.btn-primary(type="button", ng-click='ensureReadAll()')
            i.glyphicon.glyphicon-folder-open
            |  Read all
p(ng-show='articles.length == 0') No such articles.
.panel-group#accArticles
  .panel.panel-default(ng-repeat='article in articles | filter:search.text | feedSelected:search.feed')
    .panel-heading(ng-mouseenter='ensureRead($index)')
      h4(ng-class="(article.read == true) ? 'panel-title article-read' : 'panel-title'")
        a(data-toggle='collapse', data-parent='#accArticles', href="#article-{{$index}}", ng-click='ensureRead($index)', onclick='return false;') {{article.title}}
        small.pull-right.article-tb
          span {{article.date | timeago}}
          span
            span.label.label-primary {{article._feed[0].name}}
          span
            a(href="{{article.link}}", target='new')
              span.glyphicon.glyphicon-globe
          span
            a.glyphicon.glyphicon-eye-open(ng-click="read($index)")
          span
            a(ng-click="star($index)", ng-class="(article.starred == true) ? 'glyphicon glyphicon-star' : 'glyphicon glyphicon-star-empty'")
    .panel-collapse.collapse(id="article-{{$index}}")
      .panel-body
        div(ng-bind-html="article.summary")