.page-header
  h1 Feeds configuration
.modal.fade#modFeed(tabindex="-1", role="dialog", aria-labelledby="Edit feed", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4#modFeedLbl.modal-title Edit feed
      .modal-body
        form(role='form', name='editFeedForm')
          input(type='hidden')
          .form-group
            label(for='editUrl') URL
            input.form-control#editUrl(type="text", name="editUrl", placeholder='Enter URL', size='60', ng-model="editFeed.url", required) 
          | &nbsp;
          .form-group
            label(for='editName', size='30') Name
            input.form-control#editName(type="text", name="editName", placeholder='Enter name', ng-model="editFeed.name") 
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
        button.btn.btn-primary(type="button", ng-click='update()') Save
#form-feed.hidden-xs
  form.form-inline.pull-right(role='form', name='addFeedForm')
    .form-group
      label.sr-only(for='addUrl') URL
      input.input-sm.form-control#addUrl(type="url", name="addUrl", placeholder='Enter URL', size='60', ng-model="addFeed.url", required) 
    button.btn-sm.btn.btn-primary(type="submit", ng-click='add()')
      i.glyphicon.glyphicon-plus
      |  Add
  .clear
#table-feed
  table.table.table-condensed.table-striped
    thead
      tr
        th Name
        th State
        th Last checked
        th Fetched
        th Missed
    tbody
      tr(ng-repeat='feed in feeds')
        td 
          a(href='{{feed.url}}', target='new') {{feed.name}}
          a(href="", ng-click="dispUpdate($index)", data-toggle="modal", data-target="#modFeed") 
            i.glyphicon.glyphicon-pencil
          a(href="/feeds", ng-click="delete($index)") 
            i.glyphicon.glyphicon-remove
        td
          span.label(ng-class="bpFeedStatus(feed.state)") {{feed.state}}
        td 
          span {{feed.lastChecked | timeago}}
        td 
          span.badge {{feed.lastFetched}}
        td
          span.badge {{feed.lastMissed}}